# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env
.env.*

# VS Code
.vscode/

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Build artifacts
build/
dist/
*.egg-info/

# OS files
.DS_Store
Thumbs.db